<div class="book-item">
    <div class="book-cover">
      <img [src]="book.coverUrl" [alt]="book.title">
    </div>
    <div class="book-details">
      <h4>{{ book.title }}</h4>
      <p class="author">{{ book.author }}</p>
      <div class="progress-container" *ngIf="book.progress && book.progress > 0">
        <p>Progress</p>
        <div class="progress-bar">
          <div class="progress-fill" [style.width.%]="book.progress"></div>
        </div>
        <span class="progress-text">{{ book.progress }}%</span>
      </div>
      <div class="book-actions" *ngIf="book.progress && book.progress > 0">
        <button class="btn btn-text">Continue Reading</button>
        <button class="btn btn-text">Update Progress</button>
      </div>
    </div>
  </div>